.card {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    width: 95%;
    height: 10rem;
  }
  @media (max-width: 768px) {
    .card{
      height: 25rem;
      width: 15rem;
      margin-left: -10%;
    }
}