.buttonShape{
margin-left: 16%;
margin-top: -12rem;
color: black !important;
}
.modalSize{
   height: 9rem;
}
.h2Tag{
  text-align: center;
}

@media (max-width: 768px){
    .buttonShape{
        margin-left: 6%;
        margin-top: -30%;
        }
}