.space{
    margin-right:20%;
    border: 0px;
    background-color:#15B077;
    color:white;
    margin-top:-15rem;
}
.container{
height:70px;
width:100%;
background-color:#15B077;
color:white;
position: fixed;
bottom: 0;
padding: 2rem 10rem;
}
.spaceCard{
   height: 5%;
   width: 15%;
   background-color: #0e744f;
   padding: 1%;
}

@media (max-width: 768px) {
    .space{
        margin-left: 0%;
        margin-right:3%;
    }
    .container{
        height:40px;
        width:100%;
        padding: 1rem 5rem;
        }
        .pTag{
         margin-top: -0.01rem;
        }
}
a:visited{
    color: white;
}